@import "tailwindcss";

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.range-slider .range-slider__thumb {
  background-color: black !important;
  width: 14px !important;
  height: 14px !important;
}

.range-slider .range-slider__range {
  background-color: black !important;
}

.range-slider {
    height: 4px !important;
}

